@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

a {
  text-decoration: none;
}

.logo .logo_img {
  width: 90%;
  height: 70px;
  margin-top: 5px;
}

nav {
  width: 100%;
  height: 70px;
  background-color: rgba(27, 21, 41, 0.377);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  z-index: 999;
  font-family: "Poppins";
}

nav .navbar {
  list-style: none;
  display: flex;
  gap: 25px;
  justify-content: space-evenly;
  align-items: center;
}

nav .navbar a {
  color: white;
  transition: 0.4s ease-in-out;
  text-transform: capitalize;
  cursor: pointer;
}

nav .navbar li {
  position: relative;
  font-size: 20px;
  padding: 0 10px;
  font-weight: 600;
}

nav .navbar a:hover,
nav .navbar li a.active {
  color: white;
  transform: scale(1.1);
}

nav .navbar a:hover::after,
nav .navbar a.active::after {
  content: "";
  width: 70%;
  height: 3px;
  background: rgb(235, 51, 206);
  background: linear-gradient(
    63deg,
    rgba(235, 51, 206, 1) 43%,
    rgba(166, 0, 255, 1) 100%,
    rgba(192, 107, 237, 1) 100%
  );
  position: absolute;
  bottom: -4px;
  left: 10px;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  nav .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    color: black;
    /* border: 2px solid red; */
    top: 70px;
    right: -100vw;
    width: 100vw;
    padding: 10px;
    gap: 20px;
    background-color: rgba(27, 21, 41, 0.781);
    height: 52vh;
    box-shadow: 0 40px 60px black;
    transition: 0.5s ease-in-out;
    z-index: 10;
    height: 80vh;
  }

  nav .navbar li {
    padding: 10px;
    margin-bottom: 0px;
  }
  .navbar.active {
    right: 0px;
  }

  .mobile-menu {
    display: block;
  }
}
